@model ProductDto

<form asp-action="ProductEdit">
    <br />
    <div class="container border p-3" >
        <h1 class="text-secondary text-center">Chỉnh sửa sản phẩm</h1>
        <input hidden asp-for="ProductId" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Tên sản phẩm</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for=Name class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Danh mục sản phẩm</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for=CategoryName class="form-control" />
                <span asp-validation-for="CategoryName"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Nội dung</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for=Description class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Giá tiền</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for=Price class="form-control"></input>
                <span asp-validation-for="Price"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Link hình ảnh</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for=ImageUrl class="form-control" />
                <span asp-validation-for="ImageUrl"></span>
            </div>
            <div class="col-5 offset-2">
                <input type="submit" value="Lưu" class="btn btn-success form-control" />

            </div>
            <div class="col-5 ">

                <a asp-action="ProductIndex" class="btn-primary btn form-control ">Danh sách sản phẩm </a>
            </div>


        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}


