@model int
<div class="text-center">
    <h1 class="text-infor pt-4">Bạn đã thanh toán thành công !</h1>
    <p class="pb-3">Thời gian giao hàng 30 phút nội thành HCM và HN kể từ khi thanh toán ! </p>
    <h4 class="text-warning pb-3">Code mã đơn hàng - @Model</h4>
    <img src="/Images/2.png" height="591" width="1004" />
</div>