@model CouponDto

<form asp-action="CouponCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-secondary text-center">Tạo phiếu giảm giá</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Mã phiếu giảm giá</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CouponCode" class="form-control" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Số tiền được giảm</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DiscountAmount" class="form-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Số tiền giảm tối thiểu</label>
            </div>
            <div  class="col-10 pb-3">
                <input asp-for="MinAmount" class="form-control" />
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <input type="submit" value="Lưu" class="btn btn-success form-control" />

            </div>
            <div class="col-5 ">

                <a asp-controller="Coupon" asp-action="CouponIndex" class="btn-primary btn form-control ">Danh sách phiếu giảm </a>
            </div>
           

        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}