@model int
<div class="text-center">
    <h1 class="text-infor pt-4">Đơn hàng đã bị đóng !</h1>
    <p class="pb-3">Vui lòng liên hệ thông báo khách hàng về đơn hàng ! </p>

    <img src="/Images/4.png" height="591" width="1004" />
</div>