@model int
<div class="text-center">
    <h1 class="text-infor pt-4">Đơn hàng giao thành công!</h1>
    <p class="pb-3">vui lòng liên hệ khách đánh giá 5* dịch vụ :) </p>

    <img src="/Images/5.png" height="591" width="1004" />
</div>