@model int
<div class="text-center">
    <h1 class="text-infor pt-4">Đơn hàng đã được chuẩn bị vui lòng giao hàng !</h1>
    <p class="pb-3">Vui lòng giao hàng sớm nhất 30 phút tránh bị phản ánh từ khách hàng </p>
   
    <img src="/Images/3.png" height="591" width="1004" />
</div>